body { margin:0; padding:0; }

path {
  -webkit-transition:fill 400ms;
          transition:fill 400ms;
}

#map { position:absolute; top:0; bottom:0; width:100%; }

/* Box */

.box {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Info */

.info {
  bottom: 40px;
  left: 10px;
  padding: 10px;
  height: 145px;
  width: 500px;
}

#info h1 {
  margin: 0px;
  font-size: 16px;
}

#info p {
  /*color: #404040;*/
  font-size: 9px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#info .details {
  font-size: 9px;
}

#info a {
  color: grey;
}

/* Filter */

.filter{
  top: 10px; right: 10px;
}

.filter #all{
  font-weight: bold;
}

/* Toggle */

.toggle{
  bottom: 40px; right: 10px;
}

/* Menu */

#filterTitle, #toggleTitle {
  background: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  border-bottom: 2px solid #bdbdbd;
  text-align: center;
}

#filterSubtitle{
  padding-top: 6px;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;	
}

.menu a {
  font-size: 12px;
  font-family: sans-serif;
  color: #555;
  display: block;
  margin: 0;
  padding: 4px 6px;
  text-decoration: none;
  text-align: left;
  border-bottom: 1.2px solid rgba(0,0,0,0.15);
}

.menu a:first-child {
  border-radius: 3px 3px 0 0;
}

.menu a:last-child {
  border-radius: 0 0 3px 3px;
}

.menu a:hover {
  background: #F1F1F1;
}

.menu a.active {
  background: #ededed;
}

.menu a.active:hover {
  background: #e8e8e8;
}

/* Hover */

.mapboxgl-popup-content{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Popup */

.mapboxgl-popup--infopopup{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

table.infotable{
  /*idth: 300px;*/
  margin: 0px;
  padding: 10px;
  border: 0px;
  border-spacing: 0px;
}

table.infotable.heading{
  padding: 0px;
  padding-left: 5px;
  border-left: 1.2px solid rgba(0,0,0,0.15);
}

table.infotable th {
  /*width: 180px;*/
  text-align: right;
  padding: 0px 4px 0px 0px;
  vertical-align: top;
}

table.infotable td {
  padding: 0px 0px 0px 4px;
  vertical-align: top;
}

/* Thumbnail */

.thumbnail {
  float: left;
  padding: 10px;
}

.thumbnail img {
  width: 155px;
  cursor: pointer;  
  border-radius: 3px;
}

.thumbnail img:hover {opacity: 0.7;}

/* Overlay */

#overlay-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#overlay-img:hover {opacity: 0.7;}

/* Overlay */
#overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Overlay img */
#overlay-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the overlay img */
#overlay-img { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}